<div class="main">
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <form >
                <h2 class="form-title">Contact Us</h2>
                <div class="form-group">
                    Name
                    <input type="text" class="form-input" placeholder="Your Name"/>
                </div>
                <div class="form-group">
                    Email
                    <input type="email" class="form-input" placeholder="Your Email"/>
                </div>
                <div class="form-group">
                    Subject
                    <input type="text" class="form-input" placeholder="Enter the subject"/>
                </div>
                <div class="form-group">
                    Message
                    <textarea type="text" class="form-input" placeholder="Enter your message"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit"/>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
