<section>
    <div>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let user of userList">
                <td>{{user._id}}</td>
                <td>{{user.email}}</td>  
              </tr>
            </tbody>
          </table>
    </div>
    </section>
  
    